---
import { Image } from "astro:assets";
import { BentoCard } from "@/components/features/BentoCard";
import { BentoTilt } from "@/components/features/BentoTilt";
---

<section class="bg-black pb-52">
    <div class="container mx-auto px-3 md:px-10">
        <div class="px-5 py-32">
            <p class="font-circular-web text-lg text-blue-50">Adentrate en el universo de loopout</p>

       

        <p class="max-w-md font-circular-web text-lg text-blue-50 opacity-50">
            Sumeegete en nuestras webs y apps revolucinarias modernas y futuristas experimenta este nuevo mundo y capta la admiracion de tus clientes
        </p>
    </div>
   

    <BentoTilt className="border-hsla relative mb-7 h-96 w-full overflow-hidden rounded-md md:h-[65vh]" client:visible>

        <BentoCard
        title="Titulo"
        description="Descripcion"
        video="https://res.cloudinary.com/dinqyrkvx/video/upload/v1741117162/premio/video/hc3meuindphirs52qvfs.mp4"
        />

    </BentoTilt>
    <div class="grid h-[135vh] grid-cols-2 grid-rows-3 gap-7">
        <BentoTilt className="bento-tilt_1 row-span-1 md:col-span-1 md:row-span-2" client:visible>

            <BentoCard
            title="Titulo"
            description="Descripcion"
            video="https://res.cloudinary.com/dinqyrkvx/video/upload/v1741117182/premio/video/fj41nubcotnzdtbxymgx.mp4"
            />
        </BentoTilt>

        <BentoTilt className="bento-tilt_1 row-span-1 ms-32 md:col-span-1 md:ms-0" client:visible>
            <BentoCard
            title="Titulo"
            description="Descripcion"
            video="https://res.cloudinary.com/dinqyrkvx/video/upload/v1741117190/premio/video/sfntaylah0mrylznahdl.mp4"
            />
        </BentoTilt>

        <BentoTilt className="bento-tilt_1 me-14 md:col-span-1 md:me-0" client:visible>
            <BentoCard
            title="Titulo"
            description="Descripcion"
            video="https://res.cloudinary.com/dinqyrkvx/video/upload/v1741117200/premio/video/da5bziho9ta9yof6vuzb.mp4"
            />
        </BentoTilt>

        <div class="bento-tilt_2">
            <div class="flex size-full flex-col justify-between bg-violet-300 p-5">
                <h1 class="bento-title special-font max-w-64">Pronto mas contenido</h1>
                
            </div>

        </div>

        <BentoTilt className="bento-tilt_2" client:visible>
            <video src="https://res.cloudinary.com/dinqyrkvx/video/upload/v1741117213/premio/video/g0odlsw9jcqyamssvswo.mp4" class="size-full object-cover object-center" autoplay muted loop></video>

        </BentoTilt>

    </div>
</div>
   
</section>