---
import { MiniVdPlyer } from "../hero/MiniVdPlyer";
import { VideoPlayer } from "../hero/VideoPlayer";
import { AnimatedButton } from "../shared/AnimatedButton";
import { Image } from "astro:assets";

---

<section>
 

    <div class="relative h-dvh w-screen overflow-x-hidden">
        <div 
        data-loading-screen
        class="flex-center absolute z-[100] h-dvh w-screen overflow-hidden bg-violet-50"
    >
        <div class="three-body">
            <div class="three-body__dot"></div>
            <div class="three-body__dot"></div>
            <div class="three-body__dot"></div>
        </div>
    </div>
        
        <div data-video-frame class="relative z-10 h-dvh w-screen overflow-hidden rounded-lg bg-blue-75">
            <div class="">
                <div class="mask-clip-path absolute-center absolute z-50 size-64 cursor-pointer overflow-hidden rounded-lg">
                   <MiniVdPlyer client:load/>

                </div>
                <VideoPlayer client:load/>
            </div>

            <h1 class="special-font-b hero-heading absolute bottom-5 right-5 z-40 text-blue-75">LoopOut</h1>
            
            <div class="absolute left-0 top-0 z-40 size-full">
                <div class="mt-24 px-5 sm:px-10">
                    <h1 class="special-font-b hero-heading text-blue-100">Redefiniendo </h1>
                    <p class="mb-5 max-w-64 font-robert-regular text-blue-100">
                        Entra al metaverso de LoopOut y descubre un nuevo mundo de posibilidades.
                    </p>
                    <AnimatedButton
                        id="watch-trailer"
                        title="Entrar"
                        className="bg-yellow-300 flex-center gap-1"
                        client:load
                    >
                        <Image 
                            src="https://res.cloudinary.com/dinqyrkvx/image/upload/v1741202371/premio/sf3abehxauessnl9rmpr.svg" 
                            alt="play" 
                            width={24} 
                            height={24}
                            class="w-6 h-6"
                            loading="eager"
                        />
                 
                    </AnimatedButton>
                </div>

            </div>
        </div>

        <h1 class="special-font-b hero-heading absolute bottom-5 right-5 text-black">LoopOut</h1>
    </div>

</section>

<script>
    import gsap from "gsap";
    import { videoState } from "../../store/videoStore";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);


        const videoFrame = document.querySelector('[data-video-frame]');
        const loadingScreen = document.querySelector('[data-loading-screen]');

        if(loadingScreen) {
            videoState.subscribe((state) => {
                if(state.isLoading) {
                  loadingScreen.classList.add("hidden");
                }
            });
            
        }

        if(videoFrame) {
            gsap.set(videoFrame, {
      clipPath: "polygon(14% 0, 72% 0, 88% 90%, 0 95%)",
      borderRadius: "0% 0% 40% 10%",
            });
            gsap.from(videoFrame, {
                clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)",
                borderRadius: "0% 0% 0% 0%",
                ease: "power1.inOut",
                scrollTrigger: {
                    trigger: videoFrame,
                    start: "center center",
                    end: "bottom center",
                    scrub: true,
                },
    });
        }
 
</script>