---
import { Image } from "astro:assets";
import { AnimatedTitle } from "../shared/AnimatedTitle";
import { ImageCutEffect } from "../story/ImageCutEffect";

---

<section id="story" class="min-h-dvh w-screen bg-black text-blue-50">
    <div class="flex size-full flex-col items-center py-10">
        <p class="font-general text-sm uppercase md:text-[10px]">
            Nuestra historia, nuestra pasión
        </p>
        <div class="relative size-full">
            <AnimatedTitle className="mt-5 pointer-events-none mix-blend-difference relative z-10" title="Desarrollo, Arte y Marketing a la vanguardia" client:visible/>

        <ImageCutEffect client:visible>
            
            <Image src="https://res.cloudinary.com/dinqyrkvx/image/upload/v1741117310/premio/img/batc1cqpggignypmleyd.webp" alt="Story 1" width={1000} height={1000} class="object-contain"/>
        </ImageCutEffect>

        </div>
        <div class="-mt-80 flex w-full justify-center md:-mt-64 md:me-44 md:justify-end">
            <div class="flex h-full flex-col w-fit items-center md:items-start">
              
                    <p class="mt-3 max-w-sm text-center font-circular-web text-violet-50 md:text-start">
                        Nuestra historia, nuestra pasión
                    </p>
                    
           

            </div>
           
        </div>
        
    </div>
</section>